@media only screen and (min-width: 1024px) {
  #step-0 {
    margin-top: 270px;
  }
  #step-1 {
    margin-top: 160px;
  }
  #step-2 {
    margin-top: 280px;
  }
  #step-3 {
    margin-top: 160px;
  }
}
